<a href="https://colab.research.google.com/github/habibmahaasin/Machine-Learning-21-22/blob/main/Week1/3_Learn_Your_First_Machine_Learning_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Data Exploration

Source : https://www.kaggle.com/dansbecker/basic-data-exploration

**Data Diri**


1.   Nama  : Habib Irfan Mahaasin
2.   NIM   : 1103194030
3.   Kelas : TK-42-PIL
4.   Prodi : S1 Teknik Komputer

In [1]:
#menghubungkan google colab dengan google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

#Melakukan pembacaan kolom pada patch data 
melbourne_file_path = '/content/drive/MyDrive/Machine Learning Data/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [10]:
melbourne_data = melbourne_data.dropna(axis=0)
y = melbourne_data.Price
# menampilkan fitur yang ada dalam tabel dataset
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [ ]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [ ]:
from sklearn.tree import DecisionTreeRegressor

#mendefinisikan model untuk random state
melbourne_model = DecisionTreeRegressor(random_state=1)

# menyesuaikan model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [ ]:
print("Making predictions for the following 5 houses:")
#menampilkan nilai teratas pada masing-masing baris
print(X.head())
print("The predictions are")
#menampilkan prediksi dari nilai teratas dari dataset
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]